#works{
    text-align: center;
    margin-top: 3rem;
}
.workstitle{
    font-weight: 600;
    color: white;
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 1rem;}


    .worksimg{
        margin-bottom: 1rem;
    }
   @media screen and (max-width:585px) {
    .worksimg{
        height:48vw;
    }
   }
